# ASISCFG_PLAIN
{
    "app": {
        "name": "ENC:gAAAAABqucHUd4Yu1QnJ2XgHdaIGB-Jbrxm_hpA5ssoaGgFU_E0C-6J6d-QzDIC3XGJhlcm4W_K7OqRjrN4VRVHiuDVxrvXMoGiSSV7c7Ms8CSFthJ1OL8Q=",
        "version": "ENC:gAAAAABqucHUpNUiUAJt33lfuIVuNG4Vx8NiJRcnp7rNUN6d0RGHzFfVGqCZUhv8UCMwIQxRAUh4J3ClpopJd93WERwAO3WIqA==",
        "client": "ENC:gAAAAABqucHUQrrE2n9-7M97jmFk4fgWzKntJ4Iy_qk9YvExl6t9QZgXdsu1-53KJMGO26O9mk0PEND7jlq57rwheBOUcLMOnA=="
    },
    "general": {
        "active_language": "es",
        "log_filename_pattern": "{TIMESTAMP}.log",
        "backup_config_pattern": "{TIMESTAMP}-{BASENAME}{EXT}.bak",
        "monto_tolerance": "0.01"
    },
    "paths": {
        "resources": "resources",
        "languages": "resources/languages",
        "logs": "logs",
        "asientos_ini": "asientos.ini",
        "schema_campos_path": "campos.json",
        "backup_config_path": "{ROOT}/backups"
    },
    "conexiones": {
        "fox_path": "\\\\SRV\\ORBIS\\ORBISDAT\\CONDAT{empresa_origen}",
        "driver": "mssql",
        "host": "SQLSERVER",
        "port": "",
        "user": "sa",
        "password": "ENC:gAAAAABqucHUP5K6zP8q7zAdG6Fq9M53z36jkUnrqQtKwKpLSESI8FpW6HDmC3dee8roMiMcNQ-amDEPNZUdUHAvp5v8Eu6m7A==",
        "database": "DAT{empresa_destino}DBSQL",
        "odbc_driver": "",
        "sql_driver_autodetect": "False",
        "tds_version": ""
    },
    "@profiles": {
        "01": {
            "info": {
                "name": "",
                "empresa_origen": "",
                "empresa_destino": ""
            },
            "conexiones": {
                "fox_path": "",
                "driver": "",
                "host": "",
                "port": "",
                "user": "",
                "password": "ENC:gAAAAABqucHUV2fQ-LXCYD3YlZqgkArCQnlO_Ac7QXL6VK5Y-INtWuPncAgiizt0m2RIFvove4W52YJ5k3U9u5s1uSmN1_f3AA==",
                "database": "",
                "odbc_driver": "",
                "sql_driver_autodetect": "",
                "tds_version": ""
            }
        }
    },
    "@asiscfg": {
        "admin_pass_hash": "8c6976e5b5410415bde908bd4dee15dfb167a9c873fc4bb8a81f6f2ab448a918"
    }
}
